.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

/*Adjust navigation logo */
.mat-toolbar-row,
.mat-toolbar-single-row {
  font-size: 22px;
}

/* Adjust navigation items and their hover effect*/
.mat-menu-item {
  font-size: 18px;
  padding: 0px 12.5px;
}

.mat-menu-item:hover {
  background: rgba(252, 252, 252, 0);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

g.mat-menu-item {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
  padding: 0px 10px;
}

a {
  padding: 0 10px;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

element.style {
  font-size: 20px;
}
