<div class="mb-5">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <a [href]="image" target="blank">
        <div>
          <div class="carousel-inner d-flex align-items-center justify-content-center ">
            <img class="img-fluid" [src]="image" alt="Random slide">
            <div class="carousel-caption text-center">
              <h1 style="font-size: 32px; color:white;"><b>Your Reliable Tutoring Platform</b></h1>
              <br>
              <p style="font-size:22px; color: rgb(255, 255, 255);">Designed to help programming students. Learn from
                your seniors and other experienced tutors here!</p>
              <br>
              <a class="btn btn-lg btn-primary;"
                style=" font-size: 24px; background-color:rgba(0, 132, 255, 0.952); color:white"
                [routerLink]="['/tutor']" routerLinkActive="router-link-active" role="button">Find Tutor Now!
              </a>
            </div>
          </div>
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>
<!--

<mat-grid-list [cols]="breakpoint | async">

  <mat-grid-tile *ngFor="let course of popularCourses$ | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{course.courseName}}</mat-card-title>
        <mat-card-subtitle *ngIf="course.tutorDetails | async as tutorDetails">{{tutorDetails.displayName}}

        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align='end'>
        <button mat-button [routerLink]="['/course',course.courseId]" routerLinkActive="router-link-active">View
          Course</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
-->
