<div class="container">
  <article>
    <h1><b>About Us <br></b>
      <h3 class="AboutUsDescription">
        We are a small team of four programmers inspired to find students the programming help they need throughout
        their learning course.
        Through our survey, we found that programming students often have trouble learning and perfecting the way that
        they code based on the classes they go through alone.
        As such we have developed an e-learning platform, Code4Student that aims to provide reliable tutoring and
        learning resources to students.
        <br>
      </h3>
    </h1>
  </article>
  <article>
    <h1><b>Objectives </b>
      <h3 class="ObjDescription"><b>Reinforce Students’ Programming Knowledge and Skills</b>
        <h3>Using this system, novice programmers will be able to receive guidance and solutions to their problems
          through a reliable source.
        </h3>
      </h3>
      <h3><b>A Source of Practical and Industrial Knowledge</b>
        <h3>As we plan to hire experts in the field of programming to be as mentors, mentees will benefit from the
          mentors’ working experience and knowledge.
          This also allows mentees to discover insights about the working industry related to programming.
        </h3>
      </h3>
      <h3><b>To Help Tutors with Their Career Profile</b>
        <h3>If our system is recognised by employers, a mentor’s reputation and expertise can be included in their CV as
          a form of additional experience.
        </h3>
      </h3>
      <h3><b>Reduces the Workload of Lecturers</b>
        <h3>With the system in use, the number of students seeking for a lecturer’s help will be reduced.
          Lecturers will have more time to prepare their teaching materials, therefore providing an effective learning
          environment for the students.
        </h3>
      </h3>
      <h3><b>Increase the Overall Prestige of the College</b>
        <h3>Mentees will have better programming insights from the mentor’s expertise, thus preparing themselves to work
          under reputable companies when they graduate.
          As a result, companies would recognize INTI that produces promising programming graduates.
        </h3>
      </h3>
    </h1><br>
  </article>
  <article>
    <h1><b>Our Team </b></h1>
    <div class="ourteam__grid">
      <div class="row">
        <div class="ourteam__person col-xs-12 col-md-6 col-xl-3">
          <img src="../../assets/ShaoQi.JPG" alt="Shao Qi" style="width:185px; height:242px;">
          <h2 class="ourteam__personName">
            Cheah Shao Qi
            <h3>Project Leader, Head Programmer</h3>
          </h2>
        </div>
        <div class="ourteam__person col-xs-12 col-md-6 col-xl-3">
          <img src="../../assets/YapKahWeePhoto.jpg" alt="Yap Kah Wee" style="width:200px;height:242px;">
          <h2 class="ourteam__personName">
            Yap Kah Wee
            <h3 class="ourteam__personTitle">Project Assistant Leader, Programmer</h3>
          </h2>
        </div>
        <div class="ourteam__person col-xs-12 col-md-6 col-xl-3">
          <img src="../../assets/JackySu.png" alt="Jacky Su" style="width:200px;height:242px;">
          <h2 class="ourteam__personName">
            Jacky Su
            <h3 class="ourteam__personTitle">Web Developer, Main Program Tester</h3>
          </h2>
        </div>
        <div class="ourteam__person col-xs-12 col-md-6 col-xl-3">
          <img src="../../assets/AlanPhoto.png" alt="Alan Lee" style="width:200px;height:242px;">
          <h2 class="ourteam__personName">
            Alan Lee Hao Xi
            <h3 class="ourteam__personTitle">Web Designer and Developer</h3>
          </h2>
        </div>
      </div>
    </div>
  </article> <br><br><br>
</div>
